Source: mailio
Version: version_0-18-0
Homepage: https://github.com/karastojko/mailio
Description: mailio is a cross platform C++ library for MIME format and SMTP, POP3 and IMAP protocols. It is based on standard C++ 17 and Boost library.
Build-Depends: boost, openssl
